.arrow-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
}

.arrow-wrapper:hover h1 {
    opacity: 1;
}

#Arrow .arrow {
    color: #fff;
    cursor: pointer;
    display: block;
    align-items: flex-start;
    text-transform: uppercase;
    position: relative;
    transition: transform 0.3s;
    margin-inline: 1vw;
  }
  #Arrow .arrow span {
    display: block;
    width: 3em;
    opacity: 0;
    transition: opacity 0.3s 0s;
    padding: 0 0.5em;
  }
  #Arrow .arrow:hover span {
    opacity: 1;
    transition: opacity 0.3s 0.1s;
  }
  #Arrow .arrow:before {
    content: "";
    display: block;
    border: solid #fff;
    border-width: 2px 2px 0 0;
    position: absolute;
    top: 4px;
    width: 10px;
    height: 10px;
  }
  #Arrow .arrow.arrow--left:before {
    transform: rotate(-135deg);
    right: 0;
    transition: right 0.3s 0.2s;
  }
  #Arrow .arrow.arrow--left:hover:before {
    right: 100%;
    transition: right 0.3s;
  }
  #Arrow .arrow.arrow--right {
    text-align: right;
  }
  #Arrow .arrow.arrow--right:before {
    left: 0;
    transform: rotate(45deg);
    transition: left 0.3s 0.2s;
  }
  #Arrow .arrow.arrow--right:hover:before {
    left: 100%;
    transition: left 0.3s;
  }
  #Arrow .arrow:hover {
    transform: none;
  }