@import url(import/font.css);
@import url(carousel.css);
@import url(burger.css);
@import url(filter.css);

html { overflow-y: hidden; } 

body {
    height: 100vh;
    margin: 0;
    font-family: 'Righteous', cursive;
    color: rgb(255, 255, 255);
    overflow-y: hidden;
    overflow-x: hidden;

    background: url(../img/background/backgroundImg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    height: 15vh;
}

.nameHeader {
    z-index: 3;
}

.name {
    font-size: 0.9rem;
    margin-top: 2vh;
}

.name h1 {
    margin-top: -16px;
    letter-spacing: 0.08rem;
}

.name h1:nth-child(2) {
    padding-left: 2vw;
}

.name h1:nth-child(3) {
    padding-left: 4vw;
}

.filterButton{
    cursor: pointer;
    border: none;
    font-family: 'Righteous', cursive;
    background: none;
    color: rgb(56, 53, 53);
    margin-top: 2.8em;
    margin-inline: 8%;
    position: relative;
    font-size: large;
    height: min-content;
}

.filterButton::after{
    background: none repeat scroll 0 0 transparent;
    bottom: -0.5px;
    content: "";
    display: block;
    height: 1.5px;
    position: absolute;
    background: rgb(56, 53, 53);
    transition: width 0.5s ease 0s, left 0.3s ease 0s;
    width: 0;
}

#discoverFilter:hover::after{
    width: 88%;
}

#webFilter:hover::after{
    width: 78%;
}

#progFilter:hover::after{
    width: 93%;
}

#otherFilter:hover::after{
    width: 80%;
}

#mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

#SocialButtonsMid a {
    position: absolute;
    z-index: 2;
    left: 96%;
    top: 40%;
    transition-duration: 0.8s;
}

#SocialButtonsFooter {
    display: none;
}

#SocialButtonsFooter a {
    z-index: 3;
    transition-duration: 0.8s;
    width: 10vw;
    margin-inline : 3vw;
}

.SocialButtons .logo {
    width: 3.5vw;
}

#SocialButtonsFooter .logo {
    width: 8.5vw;
}

.SocialButtons a:hover {
    transform: scale(1.1);
}

.SocialButtons a:nth-child(2) {
    top: 48% !important;
}

.SocialButtons a:nth-child(3) {
    top: 56% !important;
}

#meButton{
    z-index: 3;
    border-radius: 30px;
    transition-duration: 0.8s;
    border: solid 2px rgb(56, 53, 53);

    display: block;
    width: 140px;
    height: 50px;
    color: rgb(56, 53, 53);
    font-family: 'Righteous', cursive;
    font-size: 18px;
    margin-bottom: 5vh;
}

#meButton:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.MeDisplay {
    display: none;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    width: 35vw;
    margin-top: -65vh;
    margin-bottom: 1%;

    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(8, 8, 8, 0.397);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
}

.MeDisplay > div , .MeDisplay > a , .MeDisplay > img{
    margin-top: 2vh;
}

#meImage{
    width: 23%;
    height: 16vh;
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, .25);
}

.contactID{
    width: 90%;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
}

.contactID p {
    margin-left: 3%;
}

.greyText{
    color: rgba(255, 255, 255, 0.2);
    margin-right: 2%;
}

#cvButton {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    border-radius: 30px;
    transition-duration: 0.8s;
    border: solid 2px rgb(131, 168, 202);
    font-family: 'Righteous', cursive;
    font-size: 18px;
    color: rgb(131, 168, 202);
    text-decoration: none;
    margin-bottom: 2vh;
}

#cvButton:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width:700px) {
    #SocialButtonsMid {
        display: none;
    }

    #SocialButtonsFooter {
        display: block;
        z-index: 3;
    }

    .MeDisplay {
        width: 100vw;
        margin-top: -60vh;
        margin-bottom: 8%;
    }

    .mePres img{
        width: 30vw;
    }

    .filterButton{
        display: none;
    }
}