@import url(import/font.css);
@import url(carousel.css);

body {
    height: 100vh;
    margin: auto;
    font-family: 'Righteous', cursive;
    color: whitesmoke;
}

header {
    display: flex;
    background-color: rgb(56, 53, 53);
    height: 15vh;
}

.a {
    padding-left: 42vw;
}

.name {
    font-size: 13px;
    margin-top: 22px;
}

.name h1{
    margin-top: -16px;
}

.name h1:nth-child(2) {
    padding-left: 2vw;
}

.name h1:nth-child(3) {
    padding-left: 4vw;
}

.b {
    padding-left: 30vw;
}

.b button {
    margin-top: 5.5vh;
    font-family: 'Righteous', cursive;
    border: none;
    font-weight: bold;
    background-color: rgb(56, 53, 53);
    font-size: 18px;
}

.b button a {
    text-decoration: none;
    color: whitesmoke;
}

#mid {
    height: 85vh;
    background-color: rgb(100, 96, 96);
}

#mid .backImg{
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 85vh;
    filter: blur(1.3px);
}

.SocialButtons a{
    position: absolute;
    z-index: 2;
    right: 1%;
    top: 40%;
    transition-duration: 0.8s;
}

.SocialButtons .logo{
    width: 3.5vw;
}

.SocialButtons a:hover{
    transform: scale(1.1);
}

.SocialButtons a:nth-child(2){
    top: 48% !important;
}

.SocialButtons a:nth-child(3){
    top: 56% !important;
}

#mid button {
    position: relative;
    z-index: 3;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    transition-duration: 0.8s;
    border: solid 2px rgb(56, 53, 53);
    top: 35%;
    left: 42%;
}

#mid button:hover {
    transform: scale(1.1);
}

#mid button a {
    display: block;
    width: 140px;
    height: 35px;
    padding-top: 10px;
    text-decoration: none;
    color: rgb(56, 53, 53);
    font-family: 'Righteous', cursive;
    font-size: 18px;
}